$font-cormorant-infant-regular: "cormorantInfantRegular", sans-serif;
$font-cormorant-infant-bold: "cormorantInfantBold", sans-serif;
$font-cormorant-infant-black: "cormorantInfantBlack", sans-serif;
$font-cormorant-infant-light: "cormorantInfantLight", sans-serif;
$font-space-grotesk: "spaceGrotesk", sans-serif;
$font-space-grotesk-2: "spaceGrotesk2", sans-serif;

$base-font-size: 24;

$color-error: #ED1651;
$color-text-main-primary: #17171D;
$color-text-main-primary-invert: #EFEFEF;
$color-text-main-secondary: #5F5F5F;
$color-background-main-primary: #E2E2E2;
$color-background-main-primary-invert: #282829;
$color-border-main-quaternary: #D2D2D2;
