@use './variables' as *;

.h1 {
  font-family: $font-cormorant-infant-bold;
  font-size: 42px;
  margin-bottom: 36px;
}

.h2 {
  font-family: $font-space-grotesk;
  font-size: 12px;
  padding: 0 0 20px 16px;
  color: #5F5F5F;
  text-transform: uppercase;
  font-weight: 300;
}
