$font-cormorant-infant-regular: "cormorantInfantRegular", sans-serif;
$font-cormorant-infant-bold: "cormorantInfantBold", sans-serif;
$font-cormorant-infant-black: "cormorantInfantBlack", sans-serif;
$font-cormorant-infant-light: "cormorantInfantLight", sans-serif;
$font-space-grotesk: "spaceGrotesk", sans-serif;
$font-space-grotesk-2: "spaceGrotesk2", sans-serif;
